<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ly.mapper.sys.SysRoleTreeMapper">
  <resultMap id="BaseResultMap" type="com.ly.po.SysRoleTree">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="sys_role_id" jdbcType="INTEGER" property="sysRoleId" />
    <result column="sys_tree_id" jdbcType="INTEGER" property="sysTreeId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, sys_role_id, sys_tree_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_role_tree
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_role_tree
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByRoleId" parameterType="java.lang.Integer">
    delete from sys_role_tree
    where sys_role_id = #{roleid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.ly.po.SysRoleTree" useGeneratedKeys="true">
    insert into sys_role_tree (sys_role_id, sys_tree_id)
    values (#{sysRoleId,jdbcType=INTEGER}, #{sysTreeId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.ly.po.SysRoleTree" useGeneratedKeys="true">
    insert into sys_role_tree
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sysRoleId != null">
        sys_role_id,
      </if>
      <if test="sysTreeId != null">
        sys_tree_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sysRoleId != null">
        #{sysRoleId,jdbcType=INTEGER},
      </if>
      <if test="sysTreeId != null">
        #{sysTreeId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ly.po.SysRoleTree">
    update sys_role_tree
    <set>
      <if test="sysRoleId != null">
        sys_role_id = #{sysRoleId,jdbcType=INTEGER},
      </if>
      <if test="sysTreeId != null">
        sys_tree_id = #{sysTreeId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ly.po.SysRoleTree">
    update sys_role_tree
    set sys_role_id = #{sysRoleId,jdbcType=INTEGER},
      sys_tree_id = #{sysTreeId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>